In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
ESV_df = pd.read_table("../0. Data/resample_merged.grouped.filtered.otu-table.chname.txt")
ESV_df.head()

,ID,UK01A,UK02A,UK03A,UK04A,UK05A,UK06A,UK08A,UK09A,UK10A,...,N52B,N52C,N52I,N52E,GZ100,GZ101,GZ102,GZ103,GZ104,N01A
0,ESV1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
1,ESV2,1350,1663,1724,1603,1613,1696,1734,1084,1045,...,1411,1770,517,1936,0,0,0,0,0,176
2,ESV3,641,1124,1129,985,799,895,727,720,682,...,0,0,0,0,0,0,0,0,0,26
3,ESV4,0,0,0,0,0,0,0,0,0,...,0,32,77,48,0,30,0,0,0,0
4,ESV5,314,507,490,632,633,723,933,800,712,...,0,0,0,0,0,0,0,0,0,0

In [3]:
original_df = pd.read_csv("../0. Data/classification_data.csv")
# results
print(original_df.columns.tolist())
print(original_df.columns)
original_df.head()

['Sample', 'Position', 'Country', 'City', 'Plant', 'Date', 'Volume of aeration tanks (m3)', 'Actual Inf rate (m3/d)', '℃ Temp.Max.SamplingDate', '℃ Temp.Avg.SamplingDate', '℃ Temp.Min.SamplingDate', '℃ Dew.Max.SamplingDate', '℃ Dew.Avg.SamplingDate', '℃ Dew.Min.SamplingDate', '℃ Humidity.Max.SamplingDate', '℃ Humidity.Min.SamplingDate', '℃ Wind.Max.SamplingDate', '℃ Wind.Min.SamplingDate', '℃ Pressure.Max.SamplingDate', '℃ Pressure.Min.SamplingDate', '℃ Precipitation.SamplingDate', '℃ Temp.Max.WeekMean', '℃ Temp.Avg.WeekMean', '℃ Temp.Min.WeekMean', '℃ Dew.Max.WeekMean', '℃ Dew.Avg.WeekMean', '℃ Dew.Min.WeekMean', '℃ Humidity.Max.WeekMean', '℃ Humidity.Min.WeekMean', '℃ Wind.Max.WeekMean', '℃ Wind.Min.WeekMean', '℃ Pressure.Max.WeekMean', '℃ Pressure.Min.WeekMean', '℃ Precipitation.WeekMean', '℃ Temp.Max.WeekMax', '℃ Temp.Avg.WeekMax', '℃ Temp.Min.WeekMax', '℃ Dew.Max.WeekMax', '℃ Dew.Avg.WeekMax', '℃ Dew.Min.WeekMax', '℃ Humidity.Max.WeekMax', '℃ Humidity.Min.WeekMax', '℃ Wind.Max.WeekMax', '℃ Wind.Min.WeekMax', '℃ Pressure.Max.WeekMax', '℃ Pressure.Min.WeekMax', '℃ Precipitation.WeekMax', '℃ Precipitation.WeekAccum', '℃ Precipitation.MonthAccum', '℃ Ambient temperature (℃)', 'COD (mg/l) In', 'COD (mg/l) Out', 'BOD7 (mg/l) In', 'BOD7 (mg/l) Out', 'NH3 (mg/L) In', 'NH3 (mg/L) Out', 'Total Nitrogen (mg/L) In', 'Total Nitrogen (mg/L) Out', 'Total Phosphorus (mg/L) In', 'Total Phosphorus (mg/L) Out', 'pH AS', 'DO (mg/L) AS', 'Temp (oC) AS', 'MLSS (mg/l) AS', 'MLVSS (mg/l) AS', 'SVI (ml/g) AS', 'SRT (days)', 'Precip (inch)', 'Recycle ratio (total return sludge flow/total influent flow)', 'Recycle ratio (total return sludge flow/total influent flow).1', 'Calcium (mg/L)', 'Magnesium (mg/L)', 'Potassium (mg/L)', 'Iron (mg/L)', 'Manganese (mg/L)', 'Aluminium (mg/L)', 'Zinc (mg/L)', 'Lead (mg/L)', 'Copper (mg/L)', 'Arsenic (mg/L)', 'Cadmium (mg/L)', 'Sulphur (mg/L)', 'Sillicon (mg/L)', 'Nickel (mg/L)', 'Chromium (mg/L)', 'Mercury (mg/L)', 'Q* (%)', 'COD Removal Rate (mg/L/h)', 'COD Removal Efficiency (%)', 'COD_influent_rate (g/l/h)', 'efficiency', 'performance_class']
Index(['Sample', 'Position', 'Country', 'City', 'Plant', 'Date',
       'Volume of aeration tanks (m3)', 'Actual Inf rate (m3/d)',
       '℃ Temp.Max.SamplingDate', '℃ Temp.Avg.SamplingDate',
       '℃ Temp.Min.SamplingDate', '℃ Dew.Max.SamplingDate',
       '℃ Dew.Avg.SamplingDate', '℃ Dew.Min.SamplingDate',
       '℃ Humidity.Max.SamplingDate', '℃ Humidity.Min.SamplingDate',
       '℃ Wind.Max.SamplingDate', '℃ Wind.Min.SamplingDate',
       '℃ Pressure.Max.SamplingDate', '℃ Pressure.Min.SamplingDate',
       '℃ Precipitation.SamplingDate', '℃ Temp.Max.WeekMean',
       '℃ Temp.Avg.WeekMean', '℃ Temp.Min.WeekMean', '℃ Dew.Max.WeekMean',
       '℃ Dew.Avg.WeekMean', '℃ Dew.Min.WeekMean', '℃ Humidity.Max.WeekMean',
       '℃ Humidity.Min.WeekMean', '℃ Wind.Max.WeekMean', '℃ Wind.Min.WeekMean',
       '℃ Pressure.Max.WeekMean', '℃ Pressure.Min.WeekMean',
       '℃ Precipitation.WeekMean', '℃ Temp.Max.WeekMax', '℃ Temp.Avg.WeekMax',
       '℃ Temp.Min.WeekMax', '℃ Dew.Max.WeekMax', '℃ Dew.Avg.WeekMax',
       '℃ Dew.Min.WeekMax', '℃ Humidity.Max.WeekMax', '℃ Humidity.Min.WeekMax',
       '℃ Wind.Max.WeekMax', '℃ Wind.Min.WeekMax', '℃ Pressure.Max.WeekMax',
       '℃ Pressure.Min.WeekMax', '℃ Precipitation.WeekMax',
       '℃ Precipitation.WeekAccum', '℃ Precipitation.MonthAccum',
       '℃ Ambient temperature (℃)', 'COD (mg/l) In', 'COD (mg/l) Out',
       'BOD7 (mg/l) In', 'BOD7 (mg/l) Out', 'NH3 (mg/L) In', 'NH3 (mg/L) Out',
       'Total Nitrogen (mg/L) In', 'Total Nitrogen (mg/L) Out',
       'Total Phosphorus (mg/L) In', 'Total Phosphorus (mg/L) Out', 'pH AS',
       'DO (mg/L) AS', 'Temp (oC) AS', 'MLSS (mg/l) AS', 'MLVSS (mg/l) AS',
       'SVI (ml/g) AS', 'SRT (days)', 'Precip (inch)',
       'Recycle ratio (total return sludge flow/total influent flow)',
       'Recycle ratio (total return sludge flow/total influent flow).1',
       'Calcium (mg/L)', 'Magnesium (mg/L)', 'Potassium (mg/L)', 'Iron (mg/L)',
       'Manganese (mg/L)', 'Aluminium (mg/L)', 'Zinc (mg/L)', 'Lead (mg/L)',
       'Copper (mg/L)', 'Arsenic (mg/L)', 'Cadmium (mg/L)', 'Sulphur (mg/L)',
       'Sillicon (mg/L)', 'Nickel (mg/L)', 'Chromium (mg/L)', 'Mercury (mg/L)',
       'Q* (%)', 'COD Removal Rate (mg/L/h)', 'COD Removal Efficiency (%)',
       'COD_influent_rate (g/l/h)', 'efficiency', 'performance_class'],
      dtype='object')

,Sample,Position,Country,City,Plant,Date,Volume of aeration tanks (m3),Actual Inf rate (m3/d),℃ Temp.Max.SamplingDate,℃ Temp.Avg.SamplingDate,...,Sillicon (mg/L),Nickel (mg/L),Chromium (mg/L),Mercury (mg/L),Q* (%),COD Removal Rate (mg/L/h),COD Removal Efficiency (%),COD_influent_rate (g/l/h),efficiency,performance_class
0,UK01A,NewcastleAS,United Kindom,Newcastle,UKTM1A,2015-01-28,3600.0,17254.0,6.67,3.33,...,0.047071,0.00818473,0.00186585,NaN,479.277778,24.363287,52.813853,46.130486,0.528139,Low
1,UK02A,NewcastleAS,United Kindom,Newcastle,UKTM1A,2015-02-04,3600.0,7007.0,5.56,3.33,...,0.648063,0.0074807,0,NaN,194.638889,15.652211,63.486842,24.654259,0.634868,Low
2,UK03A,NewcastleAS,United Kindom,Newcastle,UKTM1A,2015-02-11,3600.0,7197.0,5.56,4.44,...,0.166629,0.00364224,0.00256111,NaN,199.916667,6.164097,38.743455,15.910035,0.387435,Low
3,UK04A,NewcastleAS,United Kindom,Newcastle,UKTM1A,2015-02-18,3600.0,6126.0,11.67,10.00,...,0.128797,0.0155561,0.00184347,NaN,170.166667,7.161181,46.759259,15.315000,0.467593,Low
4,UK05A,NewcastleAS,United Kindom,Newcastle,UKTM1A,2015-02-25,3600.0,6898.0,10.56,7.78,...,0.060467,0.00577474,0.00162337,NaN,191.611111,7.744282,46.634615,16.606296,0.466346,Low

In [4]:
# original_df = pd.get_dummies(original_df, columns=['Position', 'Country', 'City', 'Plant'])

# original_df

In [5]:
from sklearn.preprocessing import LabelEncoder

for col in ['Position', 'Country', 'City', 'Plant']:
    le = LabelEncoder()
    original_df[col + '_enc'] = le.fit_transform(original_df[col])

In [6]:
# 문자열을 날짜 타입으로 변환
original_df['Date'] = pd.to_datetime(original_df['Date'], errors='coerce')

# 날짜 관련 파생 특성 추출
original_df['Year'] = original_df['Date'].dt.year
original_df['Month'] = original_df['Date'].dt.month
original_df['Day'] = original_df['Date'].dt.day
original_df['Weekday'] = original_df['Date'].dt.weekday  # 월=0, 일=6
original_df

,Sample,Position,Country,City,Plant,Date,Volume of aeration tanks (m3),Actual Inf rate (m3/d),℃ Temp.Max.SamplingDate,℃ Temp.Avg.SamplingDate,...,efficiency,performance_class,Position_enc,Country_enc,City_enc,Plant_enc,Year,Month,Day,Weekday
0,UK01A,NewcastleAS,United Kindom,Newcastle,UKTM1A,2015-01-28,3600.0,17254.0,6.67,3.33,...,0.528139,Low,17,4,6,6,2015,1,28,2
1,UK02A,NewcastleAS,United Kindom,Newcastle,UKTM1A,2015-02-04,3600.0,7007.0,5.56,3.33,...,0.634868,Low,17,4,6,6,2015,2,4,2
2,UK03A,NewcastleAS,United Kindom,Newcastle,UKTM1A,2015-02-11,3600.0,7197.0,5.56,4.44,...,0.387435,Low,17,4,6,6,2015,2,11,2
3,UK04A,NewcastleAS,United Kindom,Newcastle,UKTM1A,2015-02-18,3600.0,6126.0,11.67,10.00,...,0.467593,Low,17,4,6,6,2015,2,18,2
4,UK05A,NewcastleAS,United Kindom,Newcastle,UKTM1A,2015-02-25,3600.0,6898.0,10.56,7.78,...,0.466346,Low,17,4,6,6,2015,2,25,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246,N48E,NormanEFF,United States,Norman,USNO2,2015-12-23,9751.2,31922.0,20.56,9.44,...,0.887097,Medium,21,5,7,9,2015,12,23,2
1247,N49E,NormanEFF,United States,Norman,USNO2,2015-12-30,9751.2,45538.0,0.56,-2.22,...,0.750000,Low,21,5,7,9,2015,12,30,2
1248,N50E,NormanEFF,United States,Norman,USNO2,2016-01-06,9751.2,39274.0,11.67,8.33,...,0.866667,Medium,21,5,7,9,2016,1,6,2
1249,N51E,NormanEFF,United States,Norman,USNO2,2016-01-13,9751.2,34284.0,14.44,5.56,...,0.922222,High,21,5,7,9,2016,1,13,2
1250,N52E,NormanEFF,United States,Norman,USNO2,2016-01-20,9751.2,37680.0,10.00,2.78,...,-1.166667,Low,21,5,7,9,2016,1,20,2

In [7]:
original_df.columns.tolist()

['Sample',
 'Position',
 'Country',
 'City',
 'Plant',
 'Date',
 'Volume of aeration tanks (m3)',
 'Actual Inf rate (m3/d)',
 '℃ Temp.Max.SamplingDate',
 '℃ Temp.Avg.SamplingDate',
 '℃ Temp.Min.SamplingDate',
 '℃ Dew.Max.SamplingDate',
 '℃ Dew.Avg.SamplingDate',
 '℃ Dew.Min.SamplingDate',
 '℃ Humidity.Max.SamplingDate',
 '℃ Humidity.Min.SamplingDate',
 '℃ Wind.Max.SamplingDate',
 '℃ Wind.Min.SamplingDate',
 '℃ Pressure.Max.SamplingDate',
 '℃ Pressure.Min.SamplingDate',
 '℃ Precipitation.SamplingDate',
 '℃ Temp.Max.WeekMean',
 '℃ Temp.Avg.WeekMean',
 '℃ Temp.Min.WeekMean',
 '℃ Dew.Max.WeekMean',
 '℃ Dew.Avg.WeekMean',
 '℃ Dew.Min.WeekMean',
 '℃ Humidity.Max.WeekMean',
 '℃ Humidity.Min.WeekMean',
 '℃ Wind.Max.WeekMean',
 '℃ Wind.Min.WeekMean',
 '℃ Pressure.Max.WeekMean',
 '℃ Pressure.Min.WeekMean',
 '℃ Precipitation.WeekMean',
 '℃ Temp.Max.WeekMax',
 '℃ Temp.Avg.WeekMax',
 '℃ Temp.Min.WeekMax',
 '℃ Dew.Max.WeekMax',
 '℃ Dew.Avg.WeekMax',
 '℃ Dew.Min.WeekMax',
 '℃ Humidity.Max.WeekMax',
 '℃ Humidity.Min.WeekMax',
 '℃ Wind.Max.WeekMax',
 '℃ Wind.Min.WeekMax',
 '℃ Pressure.Max.WeekMax',
 '℃ Pressure.Min.WeekMax',
 '℃ Precipitation.WeekMax',
 '℃ Precipitation.WeekAccum',
 '℃ Precipitation.MonthAccum',
 '℃ Ambient temperature (℃)',
 'COD (mg/l) In',
 'COD (mg/l) Out',
 'BOD7 (mg/l) In',
 'BOD7 (mg/l) Out',
 'NH3 (mg/L) In',
 'NH3 (mg/L) Out',
 'Total Nitrogen (mg/L) In',
 'Total Nitrogen (mg/L) Out',
 'Total Phosphorus (mg/L) In',
 'Total Phosphorus (mg/L) Out',
 'pH AS',
 'DO (mg/L) AS',
 'Temp (oC) AS',
 'MLSS (mg/l) AS',
 'MLVSS (mg/l) AS',
 'SVI (ml/g) AS',
 'SRT (days)',
 'Precip (inch)',
 'Recycle ratio (total return sludge flow/total influent flow)',
 'Recycle ratio (total return sludge flow/total influent flow).1',
 'Calcium (mg/L)',
 'Magnesium (mg/L)',
 'Potassium (mg/L)',
 'Iron (mg/L)',
 'Manganese (mg/L)',
 'Aluminium (mg/L)',
 'Zinc (mg/L)',
 'Lead (mg/L)',
 'Copper (mg/L)',
 'Arsenic (mg/L)',
 'Cadmium (mg/L)',
 'Sulphur (mg/L)',
 'Sillicon (mg/L)',
 'Nickel (mg/L)',
 'Chromium (mg/L)',
 'Mercury (mg/L)',
 'Q* (%)',
 'COD Removal Rate (mg/L/h)',
 'COD Removal Efficiency (%)',
 'COD_influent_rate (g/l/h)',
 'efficiency',
 'performance_class',
 'Position_enc',
 'Country_enc',
 'City_enc',
 'Plant_enc',
 'Year',
 'Month',
 'Day',
 'Weekday']

In [8]:
feature_columns = [ 'Sample', 'Volume of aeration tanks (m3)', 'Actual Inf rate (m3/d)', '℃ Temp.Max.SamplingDate', '℃ Temp.Avg.SamplingDate', '℃ Temp.Min.SamplingDate', '℃ Dew.Max.SamplingDate',
 '℃ Dew.Avg.SamplingDate', '℃ Dew.Min.SamplingDate', '℃ Humidity.Max.SamplingDate', '℃ Humidity.Min.SamplingDate', '℃ Wind.Max.SamplingDate', '℃ Wind.Min.SamplingDate',
 '℃ Pressure.Max.SamplingDate', '℃ Pressure.Min.SamplingDate', '℃ Precipitation.SamplingDate', '℃ Temp.Max.WeekMean', '℃ Temp.Avg.WeekMean', '℃ Temp.Min.WeekMean',
 '℃ Dew.Max.WeekMean', '℃ Dew.Avg.WeekMean', '℃ Dew.Min.WeekMean', '℃ Humidity.Max.WeekMean', '℃ Humidity.Min.WeekMean', '℃ Wind.Max.WeekMean', '℃ Wind.Min.WeekMean',
 '℃ Pressure.Max.WeekMean', '℃ Pressure.Min.WeekMean', '℃ Precipitation.WeekMean', '℃ Temp.Max.WeekMax', '℃ Temp.Avg.WeekMax', '℃ Temp.Min.WeekMax', '℃ Dew.Max.WeekMax',
 '℃ Dew.Avg.WeekMax', '℃ Dew.Min.WeekMax', '℃ Humidity.Max.WeekMax', '℃ Humidity.Min.WeekMax', '℃ Wind.Max.WeekMax', '℃ Wind.Min.WeekMax', '℃ Pressure.Max.WeekMax',
 '℃ Pressure.Min.WeekMax', '℃ Precipitation.WeekMax', '℃ Precipitation.WeekAccum', '℃ Precipitation.MonthAccum', '℃ Ambient temperature (℃)', 
 'COD (mg/l) In', 'BOD7 (mg/l) In', 'NH3 (mg/L) In', 'Total Nitrogen (mg/L) In', 
 'Total Phosphorus (mg/L) In', 'pH AS', 'DO (mg/L) AS', 'Temp (oC) AS', 'MLSS (mg/l) AS', 'MLVSS (mg/l) AS', 'SVI (ml/g) AS',
 'SRT (days)', 'Precip (inch)', 'Recycle ratio (total return sludge flow/total influent flow)', 'Recycle ratio (total return sludge flow/total influent flow).1',
 'Position_enc', 'Country_enc', 'City_enc', 'Plant_enc', 'Year', 'Month', 'Day', 'Weekday', 'efficiency']

target_column = [ 'COD Removal Rate (mg/L/h)']

In [9]:
len(feature_columns)

69

In [10]:
input_df = original_df[feature_columns]
input_df

,Sample,Volume of aeration tanks (m3),Actual Inf rate (m3/d),℃ Temp.Max.SamplingDate,℃ Temp.Avg.SamplingDate,℃ Temp.Min.SamplingDate,℃ Dew.Max.SamplingDate,℃ Dew.Avg.SamplingDate,℃ Dew.Min.SamplingDate,℃ Humidity.Max.SamplingDate,...,Recycle ratio (total return sludge flow/total influent flow).1,Position_enc,Country_enc,City_enc,Plant_enc,Year,Month,Day,Weekday,efficiency
0,UK01A,3600.0,17254.0,6.67,3.33,0.56,36,32,30,93,...,NaN,17,4,6,6,2015,1,28,2,0.528139
1,UK02A,3600.0,7007.0,5.56,3.33,0.56,34,31,27,81,...,NaN,17,4,6,6,2015,2,4,2,0.634868
2,UK03A,3600.0,7197.0,5.56,4.44,2.78,37,35,34,87,...,NaN,17,4,6,6,2015,2,11,2,0.387435
3,UK04A,3600.0,6126.0,11.67,10.00,8.89,46,45,45,87,...,NaN,17,4,6,6,2015,2,18,2,0.467593
4,UK05A,3600.0,6898.0,10.56,7.78,5.56,50,45,41,94,...,NaN,17,4,6,6,2015,2,25,2,0.466346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246,N48E,9751.2,31922.0,20.56,9.44,-1.67,49,38,28,100,...,NaN,21,5,7,9,2015,12,23,2,0.887097
1247,N49E,9751.2,45538.0,0.56,-2.22,-5.56,29,26,21,100,...,NaN,21,5,7,9,2015,12,30,2,0.750000
1248,N50E,9751.2,39274.0,11.67,8.33,4.44,47,43,38,100,...,NaN,21,5,7,9,2016,1,6,2,0.866667
1249,N51E,9751.2,34284.0,14.44,5.56,-3.33,29,24,17,92,...,NaN,21,5,7,9,2016,1,13,2,0.922222
1250,N52E,9751.2,37680.0,10.00,2.78,-5.00,40,31,19,96,...,NaN,21,5,7,9,2016,1,20,2,-1.166667

In [11]:
# 모든 컬럼에 대해 숫자 변환 시도 (숫자 아닌 건 NaN으로 처리)
X_cleaned = input_df.apply(pd.to_numeric, errors='coerce')
X_cleaned

,Sample,Volume of aeration tanks (m3),Actual Inf rate (m3/d),℃ Temp.Max.SamplingDate,℃ Temp.Avg.SamplingDate,℃ Temp.Min.SamplingDate,℃ Dew.Max.SamplingDate,℃ Dew.Avg.SamplingDate,℃ Dew.Min.SamplingDate,℃ Humidity.Max.SamplingDate,...,Recycle ratio (total return sludge flow/total influent flow).1,Position_enc,Country_enc,City_enc,Plant_enc,Year,Month,Day,Weekday,efficiency
0,NaN,3600.0,17254.0,6.67,3.33,0.56,36,32,30,93,...,NaN,17,4,6,6,2015,1,28,2,0.528139
1,NaN,3600.0,7007.0,5.56,3.33,0.56,34,31,27,81,...,NaN,17,4,6,6,2015,2,4,2,0.634868
2,NaN,3600.0,7197.0,5.56,4.44,2.78,37,35,34,87,...,NaN,17,4,6,6,2015,2,11,2,0.387435
3,NaN,3600.0,6126.0,11.67,10.00,8.89,46,45,45,87,...,NaN,17,4,6,6,2015,2,18,2,0.467593
4,NaN,3600.0,6898.0,10.56,7.78,5.56,50,45,41,94,...,NaN,17,4,6,6,2015,2,25,2,0.466346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246,NaN,9751.2,31922.0,20.56,9.44,-1.67,49,38,28,100,...,NaN,21,5,7,9,2015,12,23,2,0.887097
1247,NaN,9751.2,45538.0,0.56,-2.22,-5.56,29,26,21,100,...,NaN,21,5,7,9,2015,12,30,2,0.750000
1248,NaN,9751.2,39274.0,11.67,8.33,4.44,47,43,38,100,...,NaN,21,5,7,9,2016,1,6,2,0.866667
1249,NaN,9751.2,34284.0,14.44,5.56,-3.33,29,24,17,92,...,NaN,21,5,7,9,2016,1,13,2,0.922222
1250,NaN,9751.2,37680.0,10.00,2.78,-5.00,40,31,19,96,...,NaN,21,5,7,9,2016,1,20,2,-1.166667

In [13]:
X = X_cleaned.fillna(X_cleaned.mean())
X.Sample = input_df.Sample
X.to_csv('performance_class_data_250326.csv', index=False)
X

,Sample,Volume of aeration tanks (m3),Actual Inf rate (m3/d),℃ Temp.Max.SamplingDate,℃ Temp.Avg.SamplingDate,℃ Temp.Min.SamplingDate,℃ Dew.Max.SamplingDate,℃ Dew.Avg.SamplingDate,℃ Dew.Min.SamplingDate,℃ Humidity.Max.SamplingDate,...,Recycle ratio (total return sludge flow/total influent flow).1,Position_enc,Country_enc,City_enc,Plant_enc,Year,Month,Day,Weekday,efficiency
0,UK01A,3600.0,17254.0,6.67,3.33,0.56,36,32,30,93,...,NaN,17,4,6,6,2015,1,28,2,0.528139
1,UK02A,3600.0,7007.0,5.56,3.33,0.56,34,31,27,81,...,NaN,17,4,6,6,2015,2,4,2,0.634868
2,UK03A,3600.0,7197.0,5.56,4.44,2.78,37,35,34,87,...,NaN,17,4,6,6,2015,2,11,2,0.387435
3,UK04A,3600.0,6126.0,11.67,10.00,8.89,46,45,45,87,...,NaN,17,4,6,6,2015,2,18,2,0.467593
4,UK05A,3600.0,6898.0,10.56,7.78,5.56,50,45,41,94,...,NaN,17,4,6,6,2015,2,25,2,0.466346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246,N48E,9751.2,31922.0,20.56,9.44,-1.67,49,38,28,100,...,NaN,21,5,7,9,2015,12,23,2,0.887097
1247,N49E,9751.2,45538.0,0.56,-2.22,-5.56,29,26,21,100,...,NaN,21,5,7,9,2015,12,30,2,0.750000
1248,N50E,9751.2,39274.0,11.67,8.33,4.44,47,43,38,100,...,NaN,21,5,7,9,2016,1,6,2,0.866667
1249,N51E,9751.2,34284.0,14.44,5.56,-3.33,29,24,17,92,...,NaN,21,5,7,9,2016,1,13,2,0.922222
1250,N52E,9751.2,37680.0,10.00,2.78,-5.00,40,31,19,96,...,NaN,21,5,7,9,2016,1,20,2,-1.166667